.priceInput {
    text-align: center;
    background-color: transparent;
    border: 0;
    width: 100px;
}

.form-control::file-selector-button  {
    background-color: var(--bs-primary-bg-subtle);
    border-color: var(--bs-primary-bg-subtle);
}